@charset "utf-8";

/*
Gliitch's Game Room is meant to be a celebration of the early days of the internet 
It's a kind of aesthetic I want to have professionally, but is here purely for play

In Page Games 
- Hangman
- Whack a Bug
- Memory game 
Gliitch Chat 
- Adlib game
- Idle Sayings (if left open)
- Dialogue Tree
- User interaction 
- FakeI (for now)

Other Links 
- Shop
- Unreal City
- Poetry 

User Interaction
- Personal info
  - Nickname
  - Favourite whatever 
  - Birthday 
- Colour Scheme
- The Secret
- Engagement/Scores
- Polls/Forums 
*/
body {
	font-family: "IBM Plex Mono", monospace;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: var(--clr-body-bg);
  image-rendering: pixelated;

}
/*Should be in reset*/
ul {
  text-decoration: none;
  list-style-type: none;
}

main {
	width: 100%;
	height: 100svh;
	justify-content: center;
	align-items: center;
  position: relative;
}

.pop-out-window {
  width: fit-content;
  background-color: var(--clr-box-bg-grey);
  border-left: var(--bdr-ex-lt-int-rb);
  border-top: var(--bdr-ex-lt-int-rb);
  border-right: var(--bdr-ex-rb-int-lt);
  border-bottom: var(--bdr-ex-rb-int-lt);
  box-shadow: var(--box-shad);
}

.top-bar { 
  height: 25px;
  background-color: var(--clr-titlebar);
  justify-content: right;
  p {
    background-color: var(--clr-close-red);
  }

  i {
    font-size: 1.6rem;
    color: var(--clr-light);
  }
}

.hangman-display {
  height: 600px;
  width: 600px;
  font-size: 2rem;
  padding: 30px;
}
.gallows-container {

}

.letter-guess {
  width: 100px;
  height: 80px;
  margin: 30px;
}
.submit-letter {
  width: 80px;
  height: 50px;
  margin: 30px;
}

.gliitch {
  position: absolute;
  bottom: 80px;
  right: 0;
  height: 180px;
  object-fit: cover;
}

.pop-out {
  background: var(--clr-light) url(../img/monster1.png) no-repeat center center;
  background-size: contain;
}


