@charset "utf-8";

:root {
  --app-font-size: 1.6rem;
}
a {
  text-decoration: none;
  color: var(--clr-light);
}
body {
	font-family: "Space Grotesk", "Outfit", "Inter", sans-serif;
	font-size: var(--app-font-size);
	color: var(--clr-light);
	scroll-behavior: smooth;
  background-color: var(--clr-bg);
  text-align: center;
}

header {
  height: 30svh;
  width: 100%;
  position: relative;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background: var(--clr-drk) url("../img/honeycomb.svg") no-repeat right center;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  width: 100%;
  font-size: 6rem;
}
main {
  width: 100%;
}
h2 {
  font-size: 3rem;
}
section {
    width: 100%;
    justify-content: center;
    align-items: center;
  div {
    width: min(100% - 10svh, 600px);
  }
  img {
    border-radius: var(--app-border-rad);
  }
}
p {
  margin: 50px 0;
}
.btn {
  width: fit-content;
  height: 50px;
  line-height: 50px;
  padding: 0 var(--app-spacing);
  border-radius: var(--app-border-rad);
  background-color: var(--clr-primary);
  border: solid 1px var(--clr-light);
  color: var(--clr-light);
  font-size: var(--app-font-size);
  font-weight: 600;
}
.tiny {
  font-size: 0.6rem;
  width: 40px;
}
footer {
  height: 100px;
  line-height: 50px;
  text-align: center;
  color: var(--clr-light);
  a {
    text-decoration: none;
    color: var(--clr-light);
  }
}