@charset "utf-8";
/*----------------------------------------------------------->
	Main Page Settings 
<------------------------------------------------------------*/
/*
- Hover Effect
  - Later Possible Add Ons 
    - Gliitch 
    - User Preferences 
      - Nickname
      - Favourite (whatever)
      - A secret 
      - Birthday
        - Horoscope
      - Site engagement stats 
    - Unreal city

- Intuitive UI
- Responsive Design
- Innovative problem solving
- Other links 
  - Page of full portfolio 
    - 
  - LinkedIn
  - 
*/
body {
  /*  Add modern mono fonts*/
	font-family: 'Courier New', Courier, monospace;
	font-size: 1.8rem;
	color: var(--clr-text);
	scroll-behavior: smooth;
  background-color: var(--clr-bg);
}

main {
background-color: var(--clr-main-bg);
}
/*----------------------------------------------------------->
	Hexagon Control
<------------------------------------------------------------*/
.white-blur-dark-hex {
  background: #fefefe url("../img/hexagons-dark.svg") repeat;
  background-attachment: fixed;
  filter: blur(4px);
}
.dark-bg-orange-hex{
  background: var(--clr-bg) url("../img/hexagons-orange.svg") repeat;
  background-attachment: fixed;
}
.dark-bg{
  background-color: var(--clr-bg);
}
.orange-bg{
  background-color: var(--clr-primary);
}

/*----------------------------------------------------------->
	Hexagon Control
<------------------------------------------------------------*/
:root {
  --big-base-size: 360px;
  --big-neg-base-size: calc(var(--big-base-size) * -1);
  --big-tb-margin: calc(var(--big-neg-base-size) / 2);
  --big-lr-margin: calc(var(--big-neg-base-size) / 4);

  --small-base-size: 120px;
  --small-neg-base-size: calc(var(--small-base-size) * -1);
  --small-tb-margin: calc(var(--small-neg-base-size) / 2);
  --small-lr-margin: calc(var(--small-neg-base-size) / 4);
}

.hex {
  clip-path: var(--app-clip-hex);
}
.small {
  width: var(--small-base-size);
  height: var(--small-base-size);
  text-align: center;
  margin: 0 5px;
}

.big {
  width: var(--big-base-size);
  height: var(--big-base-size);
  text-align: center;
  margin: 0 10px;
}

.small-mid-hex {
  width: var(--small-base-size);
  height: var(--small-base-size);
  text-align: center;
  margin: var(--small-tb-margin) var(--small-lr-margin);
}

.big-mid-hex {
  width: var(--big-base-size);
  height: var(--big-base-size);
  text-align: center;
  margin: var(--big-tb-margin) var(--big-lr-margin);
}

/*----------------------------------------------------------->
	Hero Banner
<------------------------------------------------------------*/
header {
  height: 100svh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.banner-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
	height: 100svh;
	width: 100svw;
  color: var(--clr-primary);
  background: #fefefe url("../img/hexagons-dark.svg") repeat;
  background-attachment: fixed; 
  filter: blur(4px);
}

.banner-content {
  width: fit-content;
  margin: 5 auto;
  z-index: 1;
  position: relative;
}

.logo {
  align-items: center;
  justify-content: center;
  h1 {
    margin-top: -30px;
    font-size: 6.2rem;
  }
  p {
    color: #fff;
    font-weight: 800;
    margin-top: -30px;
  }
}

@media (max-width: 1200px) {
  :root{
    --big-base-size: 280px;
    --small-base-size: 100px;
  }
}
@media (max-width: 900px) {
  :root{
    --big-base-size: 240px;
    --small-base-size: 80px;
  }
} 
@media (max-width: 600px) {
  :root{
    --big-base-size: 200px;
    --small-base-size: 70px;
  }
} 

/*----------------------------------------------------------->
	Contact Section
<------------------------------------------------------------*/
.contact {
  justify-content: space-evenly;
  align-items: center;
  height: 600px;
  width: 600px;
  background-color: var(--clr-bg);
}

.message {
  max-width: 400px;

  input, textarea {
    width: 100%;
    border-radius: 10px;
  }
  textarea {
    max-width: 400px;
    max-height: 400px;
    resize: none;
  }
}

.poll-social {
  max-width: 400px;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  form {
    background-color: var(--clr-light-bg);
    border-radius: 10px;
  }
}

.poll-option {
  display: block;
  height: 30px;
  font-size: 1.4rem;
  text-align: center;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
.poll-option input[type="radio"] {
  display: none;
}
.poll-option input[type="radio"]:checked + label,
.poll-option:has(input[type="radio"]:checked) {
  background: #007bff;
  color: white;
  border-color: #0056b3;
}


