@charset "utf-8";
/*----------------------------------------------------------->
	Local Resets and Roots
<------------------------------------------------------------*/

/*
Portfolio
- Reword things a little bit 
- Hamburger nav menu
- Some type of effect applied to skills list
- Preview modals 
- Order of buttons
  - Color of hero buttons
*/
a, button {
	text-decoration: none;
	font-style: inherit;
	color: inherit;
}

button {
	border: none;
	outline: none;
}

:root {
	--clr-bg: #001622;
	--clr-primary: #fe521d;
	--clr-secondary: #dd6900;
	--clr-text: #fefefe;
	--clr-dark: #012;
	--app-border-rad: 14px;
	--app-spacing: 25px;
  --app-clip-hex: polygon(
    50% 0, 
    100% 25%, 
    100% 75%, 
    50% 100%, 
    0 75%, 
    0 25%);
	--app-gradient: linear-gradient(
		135deg, 
		rgb(64 64 64 / 0.1) 0%,
		rgb(64 64 96 / 0.3) 50%,
		rgb(64 64 64 / 0.1) 100%
	);
}

/*----------------------------------------------------------->
	Utility Classes 
<------------------------------------------------------------*/

.container {
	width: min(100% - 30px, 1200px);
	margin-inline: auto;
}

.flex {
	display: flex;
}

.f-col {
  display: flex;
	flex-direction: column;
}

.ease-quick {
	transition: all 0.3s ease-in-out;
}

.ease-slow {
	transition: all 0.8s ease-in-out;
}

.hidden {
	display: none;
	opacity: 0;
}

.circle {
	border-radius: 50%;
}

.pointer {
	cursor: pointer;
}


/*----------------------------------------------------------->
	Main Page Settings 
<------------------------------------------------------------*/
body {
	font-family: "Poppins", "Noto Sans", Arial, sans-serif;
	font-size: 1.8rem;
	color: var(--clr-text);
	scroll-behavior: smooth;
  background-color: var(--clr-bg);
}

main {
background-color: #01263b;
}

/*----------------------------------------------------------->
	Titles 
<------------------------------------------------------------*/

h1 {
  width: 850px;
	font-size: 8rem;
  line-height: 110px;
  padding: 10px 25px;
  margin-top: 20svh;
  background-color: var(--clr-bg);

  span {
    font-size: 9rem;
  }
}

h2 {
	font-size: 1.6rem;
	justify-content: space-between;
  font-weight: 400;
  margin-left: 30px;
  margin-top: -10px;
  background-color: var(--clr-bg);
  padding: 0 5px;
}


h4 {
	font-size: 3rem;
	text-align: center;
	line-height: 200px;
  color: var(--clr-primary);
}

h5 {
  font-size: 2.2rem;
  text-align: center;
  color: var(--clr-primary);
}

/*----------------------------------------------------------->
	Hero Banner
<------------------------------------------------------------*/

header {
	height: 100svh;
	width: 100%;
	position: relative;
	align-items: center;
  color: var(--clr-primary);
  background: var(--clr-bg) url('../img/hexa-vector.png') no-repeat left center;
  background-size: contain;
  background-attachment: fixed;

}

/*----------------------------------------------------------->
	Hero Banner - Buttons 
<------------------------------------------------------------*/
.button-wrapper {
  width: 100%;
  height: fit-content;
  justify-content: center;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px; 
    height: 120px;
    clip-path: var(--app-clip-hex);
    background-color: var(--clr-primary);
    color: var(--clr-text);
    font-size: 1.2rem;
    transition: all 0.25s ease-in-out;

  }
}

.about {
  &:hover {
    filter: brightness(1.2);
    transform: scale(1.05);
  }
}

.contact {
  margin: 30px 0 0 15px;

  &:hover {
    filter: brightness(1.2);
    transform: scale(1.05);
  }
}

.work {
  margin: 60px 0 0 15px;

  &:hover {
    filter: brightness(1.2);
    transform: scale(1.05);
  }
}

i {
	color: var(--clr-text);
	font-size: 2.2rem;
}

/*----------------------------------------------------------->
	Floating Top Bar Nav
<------------------------------------------------------------*/

.nav-wrapper {
	width: 100%;
	height: 50px;
	justify-content: center;
	background: var(--app-gradient);
  backdrop-filter: blur(5px) brightness(0.4);
	transform: translateY(-100%); /* Catch before Andre does */
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5000; 
  transition: all 0.5s ease-in-out;
}

.nav-wrapper.visible {
	transform: translateY(0);
}
h3 {
  width: 300px;
  font-size: 1.8rem;
  position: absolute;
  left: 0;
  transition: all 0.5s ease-in-out;
}

h3.visible {
  width: 300px;
}

nav {
	width: 100%;
	height: 50px;
  line-height: 50px;
	position: relative;
	padding: 0 var(--app-spacing);
	justify-content: space-between;
  color: var(--clr-primary);
}

.burger { 
  height: 50px;
  display: none;
  position: absolute;
  right: 0;
  &:hover {
    filter: brightness(1.2);
  }

  i {
    line-height: 50px;
    color: var(--clr-primary);
  }
}


.link-wrapper {
  width: 300px;
  justify-content: space-between;
  position: absolute;
  right: 0;
  transition: all 0.5s ease-in-out;

  a {
  font-size: 1.6rem;
  transition: all 0.25s ease-in-out;


  &:hover {
    backdrop-filter: brightness(1.2);
  }
  }
}

.link-wrapper.visible {
  width: 240px;
}

/*----------------------------------------------------------->
	Top Grid
<------------------------------------------------------------*/
.info {
  display: grid;
  grid-template-columns: repeat(6, 1fr); 
  gap: 40px;
  place-items: center;
  padding: 0 25px;
  font-size: 1.8rem;
}
.item1 {
  background-color: #dd6900;
  clip-path: var(--app-clip-hex);
  width: 80%;
  height: auto;
  overflow: hidden;

  img {
    object-fit: cover;

  }
}

.item1, .item2, .item3, .item5 {
  grid-column: span 2;
}

.item4 {
  grid-column: 2 / span 2
}

.info-annex {
  max-width: 500px;
  justify-content: center;
  align-items: center;
  

  a {
    display: inline-block;
  }

}

.cta-contact {
  width: 100px; 
  height: 100px;
  line-height: 100px;
  text-align: center;
  clip-path: var(--app-clip-hex);
  background-color: var(--clr-primary);
  color: var(--clr-text);
  font-size: 1.2rem;
  transition: all 0.25s ease-in-out;
  margin: var(--app-spacing);
  &:hover {
    filter: brightness(1.2);
    transform: scale(1.05);
  }
}

.cta-cv {
  width: 60px; 
  height: 60px;
  line-height: 60px;
  clip-path: var(--app-clip-hex);
  background-color: var(--clr-secondary);
  color: var(--clr-text);
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  transition: all 0.25s ease-in-out;

  &:hover {
    filter: brightness(1.2);
    transform: scale(1.05);
  }
}

.profile {
	height: 300px;
	width: 300px;
	margin: auto;
	justify-content: center;
	align-items: center;
	overflow: hidden;

	img {
		height: 300px;
		width: auto;
	}
}

.laptop {
  width: 100%;
  width: 300px;
  height: 300px;
  justify-content: center;
  align-items: center;
}

.text-box {
	width: 100%;
	height: 100%;
	display: flex;
  flex-direction: column;
	justify-content: center;
	align-items: center;
}



/*----------------------------------------------------------->
	Bottom Grid 
<------------------------------------------------------------*/

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: repeat(2, 2fr); 
  gap: 40px;

  div {
    clip-path: var(--app-clip-hex);
    width: 100%;
    height: 100%;
    grid-column: span 2;
    background: #fff url('../img/scrnshot02.jpg') no-repeat center center;
    background-size: cover;
    &:nth-of-type(3) {
      grid-column: 2 / span 2;
      margin-top: -135px;
    }
  }
}

.portfolio-container:hover .box {
	opacity: 0.5;
}

.portfolio-container:hover .box:hover {
	opacity: 1;
	transform: scale(1.03); 
}

/*----------------------------------------------------------->
	Contact Section
<------------------------------------------------------------*/
footer {
  justify-content: center;
  align-items: center;
  background-color: #01263b;
}

.contact-container {
  height: 400px;
  width: 400px;
  clip-path: var(--app-clip-hex);
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 25px;
  margin-bottom: 25px;
  background-color: var(--clr-bg);  
  font-size: 1.2rem;
  color: var(--clr-primary);
}

.email {
  font-weight: 700;
}

.email:hover{
  text-decoration: underline;
  filter: brightness(1.2);
}

.social-wrapper {
  width: 150px;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 25px;
  div {
    background-color: var(--clr-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    line-height: 60px; 
    clip-path: var(--app-clip-hex);
    margin: 5px;
    transition: all 0.25s ease-in-out;

    &:hover {
      filter: brightness(1.2);
      transform: scale(1.05);
    }
 }
}

/*----------------------------------------------------------->
	Media Queries 
<------------------------------------------------------------*/


@media (max-width: 980px) {
  h1 {
    width: 700px;
    font-size: 6rem;
    line-height: 100px;

    span {
      font-size: 7rem;
    }
  }

  h2 {
    font-size: 1.4rem;
    margin-top: -25px;
    margin-left: 25px;
  }


  .portfolio-container {

    div {
      &:nth-of-type(3) {
      margin-top: -100px;
      }
    }
  }
}


@media (max-width: 780px) {
  h1 {
    width: 550px;
    font-size: 4.5rem;
    line-height: 90px;

    span {
      font-size: 5.5rem;
    }
  }

  .button-wrapper div {
      width: 100px;
      height: 100px;
  }

  h3 {
    font-size: 1.6rem;
  }
  .link-wrapper {
    width: 240px;
    a {
    font-size: 1.2rem;
    }
  }

  .info {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 40px;
    place-items: center;
    padding: 0 25px;
    font-size: 1.6rem;
  }
  .item1 {
    grid-column: 2 / span 2;
  }
  .item2, .item3 {
    grid-column: span 2;
  }
  .item4 {
    grid-column: span 4;
  }
  .item5 {
    grid-column: 2 / span 2
  }

  .portfolio-container div {
      &:nth-of-type(3) {
        margin-top: -80px;
      }
  }
}

@media (max-width: 600px) {
  h1 {
    width: 100%;
    font-size: 3rem;
    line-height: 60px;
    span {
      font-size: 3.5rem;
    }
  }

  h2 {
    font-size: 1.2rem;
    margin-top: -10px;
  }


  .button-wrapper div {
      width: 80px;
      height: 80px;
  }

  h3 {
    width: 0;
    overflow: hidden;
    white-space: nowrap;
  }
  .burger {
    display: block;
  }

  .link-wrapper {
    position: absolute;
    right: 75px;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
  }

  .info {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 40px;
    place-items: center;
    padding: 0 25px;
  }
  .item1, .item2, .item3, .item4, .item5 {
    grid-column: span 2;
  }


  .portfolio-container {

    div {
      &:nth-of-type(3) {
      margin-top: -70px;
      }
    }
  }
}

