@charset "utf-8";
/*----------------------------------------------------------->
	Main Page Settings 
<------------------------------------------------------------*/
/*
- Hover Effect
  - Later Possible Add Ons 
    - Gliitch 
    - User Preferences 
      - Nickname
      - Favourite (whatever)
      - A secret 
      - Birthday
        - Horoscope
      - Site engagement stats 
    - Unreal city
*/
body {
  /*  Add modern mono fonts*/
	font-family: 'Courier New', Courier, monospace;
	font-size: 1.8rem;
	color: var(--clr-text);
	scroll-behavior: smooth;
  background-color: #fefefe;
}

main {
background-color: var(--clr-main-bg);
}

:root {
  --big-base-size: 360px;
  --big-neg-base-size: calc(var(--big-base-size) * -1);
  --big-tb-margin: calc(var(--big-neg-base-size) / 2);
  --big-lr-margin: calc(var(--big-neg-base-size) / 4);

  --small-base-size: 120px;
  --small-neg-base-size: calc(var(--small-base-size) * -1);
  --small-tb-margin: calc(var(--small-neg-base-size) / 2);
  --small-lr-margin: calc(var(--small-neg-base-size) / 4);
}

.small {
  width: var(--small-base-size);
  height: var(--small-base-size);
  text-align: center;
  margin: 0 5px;
}

.big {
  width: var(--big-base-size);
  height: var(--big-base-size);
  text-align: center;
  margin: 0 10px;
}

.small-mid-hex {
  width: var(--small-base-size);
  height: var(--small-base-size);
  text-align: center;
  margin: var(--small-tb-margin) var(--small-lr-margin);
}

.big-mid-hex {
  width: var(--big-base-size);
  height: var(--big-base-size);
  text-align: center;
  margin: var(--big-tb-margin) var(--big-lr-margin);
}

/*----------------------------------------------------------->
	Hero Banner
<------------------------------------------------------------*/
header {
  height: 100svh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.banner-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
	height: 100svh;
	width: 100svw;
  color: var(--clr-primary);
  background: #fefefe url("../img/hexagons-dark.svg") repeat;
  background-attachment: fixed; 
  filter: blur(3px) opacity(0.8);
}

.hex {
  clip-path: var(--app-clip-hex);
}

.m-auto {
  margin: auto;
}
.white-blur-dark-hex {
  background: #fefefe url("../img/hexagons-dark.svg") repeat;
  background-attachment: fixed;
  filter: blur(3px) opacity(0.8);
}
.dark-bg-orange-hex{
  background: var(--clr-bg) url("../img/hexagons-orange.svg") repeat;
  background-attachment: fixed;
}
.dark-bg{
  background-color: var(--clr-bg);
}
.orange-bg{
  background-color: var(--clr-primary);
}
.banner-content {
  width: fit-content;
  margin: 5 auto;
  z-index: 1;
  position: relative;
}

.hex-effect {
  clip-path: var(--app-clip-hex);
  background: var(--clr-bg) url("../img/hexagons-orange.svg") repeat;
  background-attachment: fixed;
}
.logo {
  align-items: center;
  justify-content: center;
  h1 {
    margin-top: -30px;
    font-size: 6.2rem;
  }
  p {
    color: #fff;
    font-weight: 800;
    margin-top: -30px;
  }
}

@media (max-width: 1200px) {
  :root{
    --big-base-size: 280px;
    --small-base-size: 100px;
  }
}
@media (max-width: 900px) {
  :root{
    --big-base-size: 240px;
    --small-base-size: 80px;
  }
} 
@media (max-width: 600px) {
  :root{
    --big-base-size: 200px;
    --small-base-size: 70px;
  }
} 

/*----------------------------------------------------------->
	Contact Section
<------------------------------------------------------------*/
.contact {
  justify-content: space-evenly;
  align-items: center;
  height: 600px;
}

.message {
  max-width: 400px;

  input, textarea {
    width: 100%;
    border-radius: 10px;
  }
  textarea {
    max-width: 400px;
    max-height: 400px;
    resize: none;
  }
}

.poll-social {
  max-width: 400px;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  form {
    background-color: var(--clr-light-bg);
    border-radius: 10px;
  }
}


.graphic {
  float: left;
  max-width: 400px;
  margin: 5px;
}

.block {
  height: 300px;
  width: 300px;
  float: right;
  margin: auto 25px;
}

.expandable {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  overflow: hidden;
}

.expandable-header {
  padding: 10px;
  background-color: var(--clr-light-bg);
  color: var(--clr-primary);
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.expandable-header:hover {
  background-color: var(--cl-bg);
}

.expandable-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, padding 0.5s ease;
  padding: 0 10px;
  font-size: 1.6rem;
  background-color: var(--clr-bg);
}

.expandable.expanded .expandable-content {
  max-height: 100%;
  padding: 10px;
}

.poll-option {
  display: block;
  height: 30px;
  font-size: 1.4rem;
  text-align: center;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

/* Hide the radio buttons */
.poll-option input[type="radio"] {
  display: none;
}

/* Style when selected */
.poll-option input[type="radio"]:checked + label,
.poll-option:has(input[type="radio"]:checked) {
  background: #007bff;
  color: white;
  border-color: #0056b3;
}


/*----------------------------------------------------------->
	Media Queries 
<------------------------------------------------------------*/


@media (max-width: 980px) {
  h1 {
    width: 700px;
    font-size: 6rem;
    line-height: 100px;

    span {
      font-size: 7rem;
    }
  }

  h2 {
    font-size: 1.4rem;
    margin-top: -25px;
    margin-left: 25px;
  }


  .portfolio-container {

    div {
      &:nth-of-type(3) {
      margin-top: -100px;
      }
    }
  }
}


@media (max-width: 780px) {
  h1 {
    width: 550px;
    font-size: 4.5rem;
    line-height: 90px;

    span {
      font-size: 5.5rem;
    }
  }

  .button-wrapper div {
      width: 100px;
      height: 100px;
  }

  h3 {
    font-size: 1.6rem;
  }
  .link-wrapper {
    width: 240px;
    a {
    font-size: 1.2rem;
    }
  }

  .info {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 40px;
    place-items: center;
    padding: 0 25px;
    font-size: 1.6rem;
  }
}

@media (max-width: 600px) {
  h1 {
    width: 100%;
    font-size: 3rem;
    line-height: 60px;
    span {
      font-size: 3.5rem;
    }
  }

  h2 {
    font-size: 1.2rem;
    margin-top: -10px;
  }


  .button-wrapper div {
      width: 80px;
      height: 80px;
  }

  h3 {
    width: 0;
    overflow: hidden;
    white-space: nowrap;
  }
  .burger {
    display: block;
  }

  .link-wrapper {
    position: absolute;
    right: 75px;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
  }

  .info {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 40px;
    place-items: center;
    padding: 0 25px;
  }
  .item1, 
  .item2, 
  .item3, 
  .item4, 
  .item5, 
  .item6, 
  .item6, 
  .item7, 
  .item8 {
    grid-column: span 2;
  }


  .portfolio-container {

    div {
      &:nth-of-type(3) {
      margin-top: -70px;
      }
    }
  }
}

