@charset "utf-8";

/*----------------------------------------------------------->
  Roots
<-----------------------------------------------------------*/

:root {
  --clr-drk: #010518;
  --clr-bg: #001522;
  --clr-light: #fefefe;
  --clr-light-blue: #bad6ff;
  --clr-light-orange: #60d;
  --clr-primary: #f37121;
  --clr-tan: #ffd484;

  --app-clip-hex: polygon(
    25% 0, 
    75% 0, 
    100% 50%, 
    75% 100%, 
    25% 100%, 
    0 50%
  ); 
  --app-border-rad: 6px;
  --app-transition: all 0.3s ease-in-out;
}

/*----------------------------------------------------------->
  Utility Functions
<-----------------------------------------------------------*/

.container {
  width: min(100% - 30px, 1200px);
  margin-inline: auto;
}

.flex {
  display: flex;
}

.f-col {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
  opacity: 0;
}

.circle {
  border-radius: 50%;
}

.pointer {
  cursor: pointer;
}

.space-between {
  justify-content: space-between;
}

.z1 {
  z-index: 1;
}
.z2 {
  z-index: 2;
}

.z3 {
  z-index: 3;
}

.z4 {
  z-index: 4;
}

.z5 {
  z-index: 5;
}

.z6 {
  z-index: 6;
}

.z7 {
  z-index: 7;
}

.z8 {
  z-index: 8;
}
.z100 {
  z-index: 100;
}