@charset "utf-8";

/*----------------------------------------------------------->
  Roots
<-----------------------------------------------------------*/

:root {
  --clr-drk: #01091c;
  --clr-bg: #001522;
  --clr-light: #fefefe;
  --clr-primary: #f37121;
  --clr-secondary: #dd6900;
  --app-clip-hex: polygon(
    25% 0, 
    75% 0, 
    100% 50%, 
    75% 100%, 
    25% 100%, 
    0 50%
  ); 
  --app-border-rad: 14px;
  --app-spacing: 25px;
}

/*----------------------------------------------------------->
  Utility Functions
<-----------------------------------------------------------*/

.container {
  width: min(100% - 30px, 1200px);
  margin-inline: auto;
  padding: var(--app-spacing);
}

.flex {
  display: flex;
}

.f-col {
  display: flex;
  flex-direction: column;
}

.ease-quick {
  transition: all 0.3s ease-in-out;
}

.ease-slow {
  transition: all 0.8s ease-in-out;
}

.hidden {
  display: none;
  opacity: 0;
}

.circle {
  border-radius: 50%;
}

.pointer {
  cursor: pointer;
}

.m-auto {
  margin: auto;
}